.employer-list {
    flex: 1;
    background-color: grey;
    padding: 10px;
}


.employer-list .employer-row {
    display: flex;
    background-color: white;
    padding: 5px;
    border-bottom: 2px dotted grey;
}

.employer-list .employer-column {
    flex: 1
}
